@import "https://fonts.googleapis.com/css?family=Lato:100";

body {
  background: linear-gradient( to right, #bbd2c5 0%, #536976 50%, #292e49 100%);  
  background-size: 400% 400%;
 animation: grad 10s ease infinite;
 font-family: "Lato";
 }
 
 @keyframes grad {
   0% {
     background-position: 0%;
   } 
   50% {
     background-position: 100%; 
   }
   100% {
      background-position: 0;
   }
 }
 h1 {
color: whitesmoke;
text-align: center;
font-family: "Lato";
font-size: 50px;
border: 1px solid white;
padding: 10px;
width: 50;
 }

 h2 {
color: white;
  text-align: left;
 }